* {
    margin: 0 auto;
}
.fixed-div {
  position: fixed;
  top: 1em;
  right: 1em;
  outline: solid black;
  background-color: rgb(223, 221, 221);
}
.legend{
  font-size: 3rem;
}
.legend1{
  font-size: 2rem;
  background-color: #fd5151;
}
.legend2{
  font-size: 2rem;
  background-color: #b4ffb6;
}
.legend3{
  font-size: 2rem;
  background-color: #fff09d;
}
table {
    border-collapse: collapse;
    width: 80%;
  }
  .personal{
    background-color: #fd5151;
  }
  .property{
    background-color: #b4ffb6;
  }
  .other{
    background-color: #fff09d;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #2315e2;
    color: white;
  }
#leafletmap {
    width: 800px;  /* feel free to change this! */
    height: 600px; /* feel free to change this! */
}