* {
    margin: 0 auto;
    font-family: calibri;
}
.columned{
  background-color: lightblue;
  column-count:3
}
.fixed-div {
  position: fixed;
  top: 1em;
  right: 1em;
  outline: solid black;
  background-color: rgb(223, 221, 221);
}
.legend{
  font-size: 3rem;
}
.legend1{
  font-size: 2rem;
  background-color: #fd5151;
}
.legend2{
  font-size: 2rem;
  background-color: #b4ffb6;
}
.legend3{
  font-size: 2rem;
  background-color: #fff09d;
}
h1{
  font-size: 4rem;
  text-align: center;
}
h2{
  font-size: 2.5rem;
}
table {
    border-collapse: collapse;
    width: 80%;
  }
  tr:hover { background-color : #89ae37; }
  .personal{
    background-color: #fd5151;
    cursor:pointer;
  }
  .property{
    background-color: #b4ffb6;
    cursor:pointer;
  }
  .other{
    background-color: #fff09d;
    cursor:pointer;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #2315e2;
    color: white;
  }
#leafletmap {
    width: 800px;  /* feel free to change this! */
    height: 600px; /* feel free to change this! */
}

/*****************************************************/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
iframe{
  width: 800px;
  height: 450px;
  display: block;
  border-style: none;
}